/* Catppuccin Colors */
:root {
  /* GLOBAL  COLORS  */
  --bg: rgb(17, 17, 27);
  --fg: rgb(205, 214, 244);

  --secondaryBg: rgb(49, 50, 68);

  --black: rgb(24, 24, 37);
  --blue: rgb(137, 180, 250);
  --cyan: rgb(137, 220, 235);
  --green: rgb(166, 227, 161);
  --orange: rgb(250, 179, 135);
  --purple: rgb(203, 166, 247);
  --red: rgb(243, 139, 168);
  --white: rgb(245, 224, 220);
  --yellow: rgb(249, 226, 175);
}

/* Colors */

.tab.active[data-tab^="tab"] {
  font-weight: 700;
}

.tab.active[data-tab*="1"],
.content[data-tab*="1"] a:hover,
.tab[data-tab*="1"]:hover {
  background-color: var(--blue);
  color: var(--black);
  /* FIX FOR CATPPUCCIN-EST THEME */
}

.tab.active[data-tab*="2"],
.content[data-tab*="2"] a:hover,
.tab[data-tab*="2"]:hover {
  background-color: var(--green);
  color: var(--black);
  /* FIX FOR CATPPUCCIN-EST THEME */
}

.tab.active[data-tab*="3"],
.content[data-tab*="3"] a:hover,
.tab[data-tab*="3"]:hover {
  background-color: var(--yellow);
  color: var(--black);
  /* FIX FOR CATPPUCCIN-EST THEME */
}

.tab.active[data-tab*="4"],
.content[data-tab*="4"] a:hover,
.tab[data-tab*="4"]:hover {
  background-color: var(--red);
  color: var(--black);
  /* FIX FOR CATPPUCCIN-EST THEME */
}

.tab.active[data-tab*="5"],
.content[data-tab*="5"] a:hover,
.tab[data-tab*="5"]:hover {
  background-color: var(--purple);
  color: var(--black);
  /* FIX FOR CATPPUCCIN-EST THEME */
}

/* FIX FOR CATPPUCCIN-EST THEME */
.tab.active[data-tab*="1"] a:hover {
  color: var(--black);
}

.tab.active[data-tab*="2"] a:hover {
  color: var(--black);
}

.tab.active[data-tab*="3"] a:hover {
  color: var(--black);
}

/* Screens larger than a average phone */
@media screen and (min-width: 800px) {
  #tab-container {
    background-color: transparent !important;
  }

  .tab[data-tab*="1"] {
    background: var(--blue) !important;
    color: var(--black) !important;
    /* FIX FOR CATPPUCCIN THEME */
  }

  .tab[data-tab*="2"] {
    background: var(--green) !important;
    color: var(--black) !important;
    /* FIX FOR CATPPUCCIN THEME */
  }

  .tab[data-tab*="3"] {
    background: var(--yellow) !important;
    color: var(--black) !important;
    /* FIX FOR CATPPUCCIN THEME */
  }

  .tab[data-tab*="4"] {
    background: var(--red) !important;
    color: var(--black) !important;
    /* FIX FOR CATPPUCCIN THEME */
  }

  .tab[data-tab*="5"] {
    background: var(--purple) !important;
    color: var(--black) !important;
    /* FIX FOR CATPPUCCIN THEME */
  }